.Swiper_Wraper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 99px;
}
.Swipe_Wraper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.Swiper_Wraper h2{
    color: #222;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 56px */
    text-transform: uppercase;
    font-size: 40px;
    margin-right: 686px;
    margin-bottom: 30px;
}
.border_Shop{
    border-bottom: 3px solid #7373D7;
    
    
}
.border_Shop a{
    color: #222;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    text-transform: uppercase;
    font-size: 18px;
}

.Card_img{
    width: 411px;
    flex-shrink: 0;
    background: #7373D7;
    height: 548px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.Swayper_ig li{
    border: 1px solid #fff;
    position: absolute;
    margin-top: -50px;
    z-index: 7;
    width: 379px;
    height: 1px;
    margin-left: 14px;
   
}
.Swayper_ig li p{
    color: #FFF;
    margin-left: 10px;
    margin-top: 8px;
}
.Swayper_ig p{
    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-left: -30px;
    
}
.Swayper_ig h6{
    
    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-left: -350px;
}
.Swayper_ig{
    margin-bottom: 80px;
}
#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
   
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 1 !important;
}